/* Satu background untuk seluruh halaman */
body {
    background:
        linear-gradient(rgba(0,0,0,0.25), rgba(0,0,0,0.25)),
        url('asno.png.jfif') no-repeat center center/cover;
    color: white;
}

#about, #skills, #portfolio, #contact {
    background: none !important;
}


#portfolio .card {
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255,255,255,0.2);
}

#portfolio .card .btn {
    color: white;
    border-color: white;
}

#portfolio .card .btn:hover {
    background: white;
    color: black;
}


#about *, #skills *, #portfolio *, #contact * {
    color: black !important;
}

